$sidebar-width: 250px;
$header-height: 50px;

.header {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: $header-height;
  background: yellow;
}

.medium {
  padding-top: $header-height;
}
.sidebar {
  position: fixed;
  width: $sidebar-width;
  height: 100%;
  background: red;
}

.mailbox-container {
  width: 100%;
  background: green;
  padding-left: $sidebar-width;

}
