$light-green: #40bde8;
$sidebar-width: 200px;
$sidebar-content-padding: 10px;
$light-background: #FFFFFF;
$dark-background: #E7EBEE;
$mailbox-right-padding: 25px;
$bootstrap-col-padding: 15px;
$avatar-diameter: 48px;

html, body {
  height: 100%;
  font-family: 'Lato', arial, sans-serif;
}

label {
  margin-bottom: 0;
}

.navbar-brand {
  width: $sidebar-width;
  img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
  }
}

.main-block {
  height: 100%;
  padding-top: 70px;
}

.sidebar {
  width: $sidebar-width;
  height: 100%;
  position: fixed;
}

.mailbox {
  padding-left: $sidebar-width;
  padding-right: $mailbox-right-padding;
}

.mailbox-container {
  position: relative;
}

@media (max-width: 767px) {
  .mailbox {
    padding-left: 0;
  }
  .navigation-group-container {
    padding-left: 12px;
  }
}

@media (min-width: 768px) {
  .navigation-group-container {
    padding-left: $sidebar-width;
  }
}

.checkbox-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 5px
}

.custom-checkbox {
  label {
    position: relative;
    background: transparent !important;
    margin-bottom: 0;
    line-height: 100%;
    height: 100%;
    vertical-align: middle;
    i {
      background-color: transparent !important;
      &.checked {
        position: absolute;
        left: 0;
        top: 0;
        vertical-align: middle;
        visibility: hidden;
      }
      &.unchecked {
      }
    }
    input {
      position: absolute;
      visibility: hidden;
      width: 0;
      height: 0;
      &:checked ~ i.checked {
        visibility: visible;
      }
    }
  }
}

.letter {
  $vertical-padding: 10px;
  padding-top: $vertical-padding;
  padding-bottom: $vertical-padding;
}

.letter-preview {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.letter-title {
  font-weight: bold;
  float: left;
}

.letter-beginning {
  padding-left: 8px;
  color: #777;
}

.bottom-border {
  border-bottom: 1px solid #EEEEEE;
}

.folders {
  padding-top: $sidebar-content-padding;
  padding-bottom: $sidebar-content-padding;
}

.folder {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.folder-image {
  width: 20px;
  float: left;
}

.badge {
  float: right;
  font-weight: normal;
  background-color: #5ebbba;
  margin-left: auto;
  font-size: 10px;
}

.sidebar-content {
  padding: 0 20px 20px 20px;
}

.compose-mail {
  padding-bottom: $sidebar-content-padding;
  button {
    background-color: $light-green;
    color: white;
    border: none;
    width: 100%;
    padding: 10px;
  }
}

.contacts {
  list-style-type: none;
  padding-top: 10px;
  padding-bottom: 10px;
}

.user {
  display: inline-block;
  height: $avatar-diameter;
  vertical-align: top;
  position: relative;
  margin-top: 1px;
  margin-bottom: 1px;
  width: 100%;
  .name {
    width: 100%;
    padding-left: $avatar-diameter + 2px;
    line-height: $avatar-diameter;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.contacts-avatar {
  position: absolute;
  left: 0;
}

.full-letter-avatar {
  position: relative;
  display: inline-block;
  border-radius: 50%;
  width: $avatar-diameter;
  height: $avatar-diameter;
  line-height: $avatar-diameter;
  overflow: hidden;
  background: $light-background;
  vertical-align: middle;
}

.link {
  &:hover {
    background-color: $dark-background;
    cursor: pointer;
  }
}

.select-letters-checkbox {
  padding: 6px 12px;
  border: solid #ccc;
  border-width: 1px 0 1px 1px;
  background-color: #fff;
  border-radius: 4px 0 0 4px;
}

.select-letter-options {
  border-radius: 0 4px 4px 0;
  margin-right: 2px;
}

.navigation-group {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

.navigation-group-container .row {
  padding-left: 3px;
}

.menu {
  float: right;
  height: 34px;
  position: relative;
  display: table;
  padding-right: 15px;
  padding-left: 15px;
  i {
    color: #AAA;
    display: table-cell;
    vertical-align: middle;
  }
}

.full-letter {
  display: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding-top: 15px;
}

.full-letter-sender-name {
  font-size: 22px;
  padding-left: 15px;
}

.float-left {
  float: left;
}

.checkboxes-and-sender-name {
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sender {
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.full-letter-answer {
  padding-bottom: $sidebar-content-padding;
  button {
    background-color: $light-green;
    color: white;
    border: none;
    padding: 10px;
  }
}

.receiving-time {
  white-space: nowrap;
}

.close-full-letter {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 5px;
  margin-right: 5px;
  &:hover {
    cursor: pointer;
  }
  &:focus {
    outline: 0;
  }
}

.mark-message {
  float: left;
  display: flex;
  flex-direction: row;
  align-items: center;
}

@mixin custom-checkbox($size, $img-url) {
    position: absolute;
  z-index: -1000;
  left: -1000px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  & + label.css-label {
    padding-left: $size;
    height: $size;
    display: inline-block;
    line-height: $size;
    background: url($img-url) no-repeat 0 0;
    font-size: $size;
    vertical-align: middle;
    cursor: pointer;
  }
  &:checked + label.css-label {
    background-position: 0 (-$size);
  }
}

input[type=checkbox].css-checkbox {
  @include custom-checkbox(17px, "../img/star-checkbox.png");
}
input[type=checkbox].mark-message-checkbox {
  @include custom-checkbox(20px, "../img/mark-message-checkbox.png")
}

@font-face { font-family: Lato; src: url('../fonts/Lato-Regular.ttf'); }
@font-face { font-family: Lato; font-weight: bold; src: url('../fonts/Lato-Bold.ttf'); }
