$sidebar-width: 250px;
$header-height: 50px;
$light-background: #FFFFFF;
$dark-background: #E7EBEE;
$light-grey: #FAFAFA;
$default-padding: 25px;
$sidebar-left-padding: 10px;
$light-green: #97C664;

.header {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: $header-height;
  background-color: $light-background;
}

.medium {
  padding-top: $header-height;
}

.sidebar {
  position: fixed;
  width: $sidebar-width;
  height: 100%;
  background-color: $light-background;
}

.mailbox-container {
  width: 100%;
  padding-left: $sidebar-width;
}

.search-block {
  background-color: $dark-background;
  padding-top: $default-padding;
  padding-bottom: $default-padding;
}

.mail-list {
  background-color: $dark-background;
}

.mailbox {
  padding-left: $default-padding;
  padding-right: $default-padding;
  background-color: $dark-background;
}

.mailbox-caption {
  display: inline-block;
  font-size: large;

}

.mail-list ul {
  margin-bottom: 0;
  list-style-type: none;
  background-color: $light-background;
  padding-top: $default-padding;
  padding-right: $default-padding;
  :nth-child(odd) {
    background-color: $dark-background;
  }
  :nth-child(even) {
    background-color: $light-background
  }
}

p {
  margin: 0px;
  font-size: large;
}

.search-block {
  p {
    vertical-align: baseline;
    width: 100%;
  }
  form {
    position: absolute;
    right: 0;
  }
}

.search {
  vertical-align: baseline;
  display: inline-block;
  width: 521px;
  padding-right: $default-padding;
  div {
    position: relative;
    input[type="text"] {
      width: 100%;
      padding-right: 18px;
      padding-left: 4px;
    }
    input[type="image"] {
      position: absolute;
      right: 4px;
      margin-top: auto;
      margin-bottom: auto;
      top: 0;
      bottom: 0;
    }
  }

  @media screen and (max-width: 900px) {
    display: none;
  }
}

.with-bottom-border {
  border-bottom: 1px solid $dark-background;
}

.compose-mail {
  padding: $sidebar-left-padding;
  button {
    background-color: $light-green;
    border: none;
    color: $light-background;
    width: 100%;
    padding: 10px;
  }
}

.folders ul {
  list-style-type: none;
  :nth-child(even) {
    background-color: $light-grey
  }
  li {
    cursor: pointer;
    &:hover {
      background-color: $dark-background;
    }
    width: 100%;
    position: relative;
  }
  padding: $sidebar-left-padding;
}

@mixin circle($diameter) {
  border-radius: 50%;
  width: $diameter;
  height: $diameter;
  line-height: $diameter;
  display: inline-block;
  position: absolute;
  margin: auto;
}

.circle {
  @include circle(16px);
  background-color: $light-green;
  text-align: center;
  right: 0;
  top: 0;
  bottom: 0;
  color: $light-background;
  vertical-align: baseline;
}

ul {
  margin: 0;
}

.logo {
  width: $sidebar-width;
  height: 100%;
  position: absolute;
  display: inline;
  img {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    vertical-align: baseline;
    height: auto;
    width: 100%;
  }
}

.right-header-block {
  display: inline-block;
  float: right;
  height: 100%;
  padding-right: $default-padding;
  .language {
    display: inline-block;
    vertical-align: top;
    height: 100%;
    margin-right: 12px;
    img {
      display: inline-block;
      vertical-align: middle;
    }
    .language-name {
      display: inline-block;
      vertical-align: middle;
    }
  }

  .user {
    display: inline-block;
    height: 100%;
    vertical-align: top;
    .avatar {
      display: inline-block;
      @include circle(48px);
      overflow: hidden;
      border: solid 2px $dark-background;
      background: $light-green;
      position: relative;
      vertical-align: middle;
      img {
        height: 40px;
        width: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        display: inline-block;
      }
    }
    .name {
      display: inline-block;
      vertical-align: middle;
    }
  }
}

div .helper {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.link {
  &:hover {
    background-color: $dark-background;
    cursor: pointer;
  }
}

