<div class="sender">
    <div class="avatar"
         style="background: url(img/homer.jpeg) center center / cover">
    </div>
    <div class="contact-information">
        <div class="full-letter-sender-name">{{sender}}</div>
        <div><i class="fa fa-envelope"></i>homer.simpson@server.com</div>
        <div><i class="fa fa-phone-square"></i>555-981-7834</div>
    </div>
</div>
<h2 class="full-letter-title">{{title}}</h2>
<div class="letter-badges">
    <div class="badge">Important</div>
    <div class="badge">Personal</div>
    <div class="badge">Family</div>
</div>
<p class="full-letter-text">{{text}}</p>
<div class="full-letter-answer bottom-border">
    <button>Answer</button>
</div>
<!--<i class="fa fa-times close-full-letter"></i>-->
<button class="close close-full-letter">&times;</button>