<div class="row bottom-border">
    <div class=" col-xs-8 col-sm-4">
        <div class="checkbox-wrapper">
            <div class="custom-checkbox letter-checkbox">
                <label>
                    <input type="checkbox"/>
                    <i class="fa fa-square-o unchecked fa-lg"></i>
                    <i class="fa fa-check-square-o checked fa-lg"></i>
                </label>
            </div>
        </div>
        <div class="checkbox-wrapper">
            <div class="custom-checkbox letter-checkbox">
                <label>
                    <input type="checkbox"/>
                    <i class="fa fa-star-o unchecked fa-lg"></i>
                    <i class="fa fa-star checked fa-lg"></i>
                </label>
            </div>
        </div>
        <div class="sender letter-link">{{sender}}</div>
    </div>
    <div class="col-xs-4 col-sm-2 col-sm-push-6 col-lg-1 col-lg-push-7">
        <div class="receiving-time pull-right">Jun 24</div>
    </div>
    <div class="col-xs-12 col-sm-6 col-sm-pull-2 col-lg-7 col-lg-pull-1 letter-preview link">
        <div class="letter-title">{{title}}</div>
        <div class="letter-beginning">{{text}}</div>
    </div>
</div>
